[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
graphviz = "*"
jupyter = "*"
pillow = "*"
imageio = "*"
joblib = "*"
scikit-learn = "*"
six = "*"

[requires]
python_version = "3.7"
